*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
      background-color: rgb(133, 131, 131);
  }
  .container{
      margin: 20px auto;
      background: rgb(169, 210, 217);
      border: 1px solid black;
      position: relative;
      width: 75%;
      border-radius: 10px;
      padding : 8px 20px;
  }
  .box1{
      background: lightgray;
      padding :8px;
    margin: 0 auto;
      border: 2px dashed rgb(255, 255, 255);
      border-radius: 10px;
  }
  .box1 section {
    margin : 0 auto;
    display:flex;
  }
  .box1 div{
    height : calc(85vh * 0.96);
  }
  .info{
      background: rgb(255, 255, 255);
      border: 1px solid rgb(165, 165, 165);
      border-radius: 10px;
      margin-right: 5px;
      width: 150px;
      left: 10px;
  }
  .miniroom{
      background: rgb(255, 255, 255);
      width: 80%;
      left: 170px;
      border: 1px solid rgb(165, 165, 165);
      border-radius: 10px;
  }
  .music{
      background: purple;
      height: 50px;
      width: 200px;
      top: 20px;
      left: 1350px;
      position: absolute;
  }
  .menu{
      background: rgb(35, 141, 179);
      position: relative;
      width: 50px;
  }